body {
    color: #222222;
    background-color: rgb(43, 76, 93);
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.fa-github,.fa-linkedin-in{
  color: gray;
}


.imgstyle{
  margin-top: 20px;
  margin-bottom: 20px;

}

.card-style img {
  max-height: 200px;
}

.custom-card-body{

width: 50%;
}

.float-right {
  float: right;
  margin-left: 25px;
}
.card-style {
  margin-bottom: 20px;
  padding: 50px;
  height: 350px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: rgb(54, 95, 116);
  color: #ffffff;
  overflow: auto;

}
.card-style-top {
  margin-top: 20px;

}


@media (max-width: 767px){
  .float-right {
  float: none!important;
margin: auto;    
display: block;
  }

}

.imgstyle1{
  margin-top: 20px;
  margin-bottom: 20px;
float: right;
}

.s-name-text{
color: rgb(20, 71, 97);

}
.body-main{
  margin-top: 55px;
}


.homeImageLink {
  position: absolute; 
  top: 45%; 
  left: 0;
  text-align: center; 
  width: 100%; 
}

.homeImageLink span { 
 color: rgb(255, 255,255);
 background-color: rgba(10, 28,50,0.6);
 font-weight: bolder;
 border-radius: 3%;
 font-size: 3.5vmin;
 font-family: "Open Sans", "Helvetica Neue", sans-serif;
 text-transform: uppercase;
 pointer-events: none;

}

.img-container {
 position:relative;
}

.imgtxt{
  font-weight: bolder;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
}
.imgcontainer {
  position: relative;
  text-align: right;
  color: white;
}

.folio-link:link{
color: black;
}

.folio-link:hover{
  color: blue;
  }
  
  .main-link:hover{
    color: rgb(3, 41, 112);
    }
    
.alignleft{
text-align: left;

}
.alignright{
text-align: right;
}
.thickline{
  border-top: 1px solid rgb(43, 76, 93);
}
#portfolio{
  background-color: white;
}
a:visited {
  color: lightblue;
}
.centered{
  text-align: center;
}
a:hover {
  color:blue;
}

.contactfont{
  color: white;
}
a:link {
  color:white;
}
.nav-item{
  margin-left: 20px;
}
#contactheading{
  color: white;
  font-weight: 600;
  margin-left: 20px;
}
.contactinfo{
  color: white;
  font-size: 30px;
  font-weight: 500;
  list-style: none;
  margin: 30px;
}
.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}

.masthead {
  padding: 6em 0;
  background-image: url('../img/icb_crop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.masthead-intro {
    margin-bottom: 0.1em;
    font-size: 2em;
    color: #ffffff;
    background-color: rgba(10, 28,50,0.6);;
}

.offset-row{
  margin-top: 50px;
}

.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
  background-color: #343a40;
  padding-top: 20px;
  left: 0px;
}

#sidenavelist{
  list-style: none;
  color: white;
}

.masthead-heading {
    margin-top: -0.2em;
    font-weight: bold;
    font-size: 250%;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ffffff;
}

.details {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.details > p {
    font-weight: 300;
    letter-spacing: 0.05em;
}

.details > h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 2em 0 1em 0;
}

section > h1 {
    margin-top: 2em;
}
.img-fluid {
  max-width: 100%;
  height: auto;
}


#sideNav .navbar-brand .img-profile {
  max-width: 10rem;
  max-height: 10rem;
  border: 0.5rem solid;
}

.rounded-circle {
  border-radius: 50% !important;
}

#footer {
  padding: 20px 0;
  text-align: center;
  background-color: #343a40;
  text-decoration: none;
}



.mr-auto,
.mx-auto {
  margin-right: auto !important;
}


.ml-auto,
.mx-auto {
  margin-left: auto !important;
}



.mb-2,
.my-2 {
  margin-bottom: 0.5rem !important;
}

#footer a {
  color: #ffffff;
}
.social > li {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 0px;
}



@media (max-width: 575px) {
  .sidenav {
  display: none;
  }
  }


  .social-icons .social-icon {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: 3.5rem;
    width: 3.5rem;
    color: #fff;
    font-size: 1.5rem;
    margin-right: 1.5rem;
  }

  .coming-soon {
    color: white;
    font-weight: bold;
    margin: 13% 0% 13% 0%;
    text-align: center;
  }
  