body {
    color: #222222;
    background-color: rgb(43, 76, 93);
    font-size: 1em;
    font-family: "Open Sans", "Helvetica Neue", sans-serif;
}
.fa-github,.fa-linkedin-in{
  color: gray;
}


.imgstyle{
  margin-top: 20px;
  margin-bottom: 20px;

}



.homeImageLink {
  position: absolute; 
  top: 45%; 
  left: 0;
  text-align: center; 
  width: 100%; 
}

.homeImageLink span { 
 color: white;
 font-weight: bolder;
 font-size: 100%;
 font-family: "Open Sans", "Helvetica Neue", sans-serif;
 text-transform: uppercase;
 pointer-events: none;

}

.img-container {
 position:relative;
}

.imgtxt{
  font-weight: bolder;
  font-size: 30px;
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(50%, 50%);
}
.imgcontainer {
  position: relative;
  text-align: right;
  color: white;
}


.alignleft{
text-align: left;

}
.alignright{
text-align: right;
}

#portfolio{
  background-color: white;
}
a:visited {
  color: lightblue;
}
.centered{
  text-align: center;
}
a:hover {
  color:blue;
}
.container{
width: 200% !important;
}
.contactfont{
  color: white;
}
a:link {
  color:white;
}
.nav-item{
  margin-left: 20px;
}
#contactheading{
  color: white;
  font-weight: 600;
  margin-left: 20px;
}
.contactinfo{
  color: white;
  font-size: 30px;
  font-weight: 500;
  list-style: none;
  margin: 30px;
}
.content-footer,
.masthead-heading,
.masthead-intro {
  text-align: center;
}

.masthead {
  padding: 6em 0;
  background-image: url('../img/icb_crop.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.masthead-intro {
    margin-bottom: 0.1em;
    font-size: 2em;
    color: #ffffff;
}
.sidenav {
  height: 100%; /* Full-height: remove this if you want "auto" height */
  width: 160px; /* Set the width of the sidebar */
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */

margin-top: 56px;
  background-color: #343a40;
  padding-top: 20px;
}

#sidenavelist{
  list-style: none;
  color: white;
}

.masthead-heading {
    margin-top: -0.2em;
    font-weight: bold;
    font-size: 6em;
    letter-spacing: -0.02em;
    text-transform: uppercase;
    color: #ffffff;
}

.details {
    max-width: 38em;
    margin-left: auto;
    margin-right: auto;
    margin-top: 2em;
}

.details > p {
    font-weight: 300;
    letter-spacing: 0.05em;
}

.details > h2 {
    font-size: 1.2em;
    font-weight: bold;
    margin: 2em 0 1em 0;
}

section > h1 {
    margin-top: 2em;
}

#footer {
  padding: 20px 0;
  text-align: center;
  background-color: #343a40;
  text-decoration: none;
}

#footer a {
  color: #ffffff;
}
.social > li {
  display: inline-block;
  margin: 0 auto;
  margin-bottom: 0px;
}